In [1]:
import numpy as np 
import pandas as pd

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df= pd.read_csv('2010-capitalbikeshare-tripdata.csv')

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [11]:
df= df[df['End date']>=df['Start date']]

In [12]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [13]:
df['Start date']= pd.to_datetime(df['Start date'],format='%Y-%m-%d %H:%M:%S')
df['End date']= pd.to_datetime(df['End date'],format='%Y-%m-%d %H:%M:%S')

In [14]:
df['Start_year'] = df['Start date'].dt.year
df['Start_month'] = df['Start date'].dt.month
df['Start_day'] = df['Start date'].dt.day
df['Start_hour'] = df['Start date'].dt.hour
df['Start_minute'] = df['Start date'].dt.minute
df['Start_second']  =df['Start date'].dt.second

df['End_year'] = df['End date'].dt.year
df['End_month'] = df['End date'].dt.month
df['End_day'] = df['End date'].dt.day
df['End_hour'] = df['End date'].dt.hour
df['End_minute'] = df['End date'].dt.minute
df['End_second']  =df['End date'].dt.second

In [15]:
for l in df:
    if(df[l].dtype=='object'):
        df[l]= df[l].astype('category')
        df[l]= df[l].cat.codes

In [16]:
df =df.drop(columns=['Start date','End date','Start station','End station','Start_year','End_year','Start_minute','End_minute','Start_second','End_second'])

In [17]:
df.head()

,Duration,Start station number,End station number,Bike number,Member type,Start_month,Start_day,Start_hour,End_month,End_day,End_hour
0,1012,31208,31108,614,1,9,20,11,9,20,11
1,61,31209,31209,41,1,9,20,11,9,20,11
2,2690,31600,31100,836,1,9,20,12,9,20,12
3,1406,31600,31602,282,1,9,20,12,9,20,12
4,1413,31100,31201,734,1,9,20,12,9,20,12

In [18]:
df.shape

(115595, 11)

In [19]:
X  = df.drop(columns=['Member type'])
y = df['Member type']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [ ]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

In [38]:
from sklearn.svm import LinearSVC
clf = LinearSVC()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.7771962455123491

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [39]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.7979151347376616

In [40]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.8729400060556253

In [41]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.8647865392101735

In [42]:
from xgboost import XGBClassifier
clf = XGBClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.8638565681906657

In [43]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.8464033911501363

In [44]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print('Accuracy = ',accuracy_score(y_pred,y_test))

Accuracy =  0.8398503395475583